name: Playwright E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Tests
        run: npx playwright test
        env:
          BASE_URL: https://www.saucedemo.com
          USERNAME: standard_user
          PASSWORD: secret_sauce


      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/

      - name: Send Email with Report
        if: always()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: viplove.bisen29@gmail.com
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Playwright Test Report
          to: viplove.bisen29@gmail.com
          from: viplove.bisen29@gmail.com
          body: Playwright test execution completed. Report attached.
          attachments: playwright-report/index.html
